{% extends 'predict/base.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style_search.css' %}">
<div class="Background">
    
    <div class="searchwrapper" >
        <div style="height: 110px;"></div>
        <span class="notice">
            작물을 입력하시면<br>
            예측 생산량을 알려드려요
        </span>
        <div style="height: 25px;"></div>
        <div class="inputwrapper">
            <form action="/predict/result" method="get" style="height:37px;">
                <input name = "type" type="text" placeholder="작물이름 입력">
                <button type="submit" class="searchbutton" style="margin-top:4px;
                margin-bottom: 5px; margin-left: auto;margin-right:5px; width:44px;height:27px;padding:0px 0px 0px 0px;"><img src="{% static 'svg/검색 버튼.svg' %}" style="width: 44px; margin-left: auto;margin-right:5px; height:27px;"alt=""></button>
                </form>
        </div>
        
    </div>
</div>    


<div class="ranking">
    <span class="othercrops">
        다른 사람들이 많이 찾은 작물
    </span>  
    <div style="height: 40%;"></div>
    {% for crop in crops%}
    <div class="searchlist">
        <p class = "rank">{{crop.rank}}</p>
        <p>{{crop.name}}</p>
        <button style="background-color: transparent; border-color: transparent; margin-left: auto;margin-right: 18px;"><img src="{% static 'svg/좋아요.svg' %}"></button>
    </div>
{% endfor%}
</div>

{% endblock %}